{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "",
    "AZURE_TRANSLATOR_KEY": "your-cognitive-services-or-translator-key",
    "AZURE_TRANSLATOR_REGION": "westeurope",
    "CORS_ORIGIN": "*"
  }
}
